<div class="animated fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                        <div class="row">
                            <h3><i class="icon-plane"></i> Surat Tugas</h3>
                        </div>
                            <form id="suratTugas" action="/sppd/surat_tugas" method="POST">  
                                <div class="form-group row">
                                    <label for="nomor">Nomor Surat</label>
                                    <div class="input-group">
                                        <input type="text" id="nomor" name="nomor" class="form-control" placeholder="Nomor surat" value="{{setting.last_nmr_surat}}/SPD/STIS/{{fullYear}}" autocomplete="off">
                                        <span class="input-group-btn">
                                            <button id="btn-riwayat-surat-tugas" type="button" class="btn btn-secondary"><i class="icon-list"></i></button>
                                        </span>
                                    </div>
                                </div>                          
                                <div class="form-group row">
                                    <label for="search">Nama<span> *</span></label>
                                    <input id="nama_lengkap" type="text" name="nama_lengkap" class="form-control" required autofocus>
                                </div>                      
                                <div class="form-group row">
                                    <label for="pok_output">Output/Komponen<span> *</span></label>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            <input id="pok_output" type="text" name="output" class="form-control" required>
                                            <span class="help-block text-muted">uraian</span> 
                                        </div>
                                        <div class="col-md-3">
                                            <input id="kode_output" type="text" name="kode_output" class="form-control">
                                            <span class="help-block text-muted">kode</span> 
                                        </div>
                                    </div>
                                </div>                                 
                                <div class="form-group row">
                                    <label for="detail_tugas">Tujuan/Tugas<span> *</span></label>
                                    <input id="detail_tugas" type="text" name="tugas" class="form-control" required>
                                </div>                        
                                <div class="form-group row">
                                    <label for="provinsi">Lokasi</label>
                                    <div class="form-group row">
                                            <label class="col-md-3" for="provinsi">Provinsi<span> *</span></label>
                                            <div class="col-md-9" style="margin-bottom: 2px">
                                                <input id="provinsi" type="text" name="prov_name" class="form-control" required>
                                                <input id="provinsi_id" style="display: none;" type="text" name="prov">
                                            </div>
                                            <label class="col-md-3" for="kabupaten">Kabupaten</label>
                                            <div class="col-md-9" style="margin-bottom: 2px">
                                                <input id="kabupaten" type="text" name="kab_name" class="form-control">
                                                <input id="kabupaten_id" style="display: none;" type="text" name="kab">
                                            </div>
                                            <label class="col-md-3" for="organisasi">Organisasi</label>
                                            <div class="col-md-9">
                                                <input id="organisasi" type="text" name="org_name" class="form-control">
                                                <input id="organisasi_id" style="display: none;" type="text" name="org">
                                            </div>
                                    </div>
                                </div>      
                                <div class="form-group row">
                                    <label for="jenis_ang">Posisi Kota<span> *</span></label>
                                    <div class="col-md-12">
                                        <label for="posisi_kota1" class="radio-inline">
                                            <input type="radio" id="posisi_kota1" name="posisi_kota" value="luar_kota" checked="checked">  Luar Kota
                                        </label>
                                        <label for="posisi_kota2" class="radio-inline">
                                            <input type="radio" id="posisi_kota2" name="posisi_kota" value="dalam_kota">  Dalam Kota (>8 jam)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tgl_berangkat">Waktu<span> *</span></label>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <input type='text-input' class="form-control date tgl_ttd" name="tgl_berangkat" id="tgl_berangkat" required>
                                            <span class="help-block text-muted">berangkat</span> 
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text-input' class="form-control date tgl_ttd" name="tgl_kembali" id="tgl_kembali" required>
                                            <span class="help-block text-muted">kembali</span> 
                                            <input style="display: none;" type="text" id="jumlah_hari" name="jumlah_hari" value="">
                                        </div>
                                    </div>
                                </div>    
                                <div class="form-group row">
                                    <label for="jenis_ang">Angkutan<span> *</span></label>
                                    <div style="margin-left: 15px">
                                        <label for="radio1" class="radio-inline">
                                            <input type="radio" id="radio1" name="jenis_ang" value="Plane" checked="checked">  Plane
                                        </label>
                                        <label for="radio2" class="radio-inline">
                                            <input type="radio" id="radio2" name="jenis_ang" value="Kereta Api">  Kereta Api
                                        </label>
                                        <label for="radio3" class="radio-inline">
                                            <input type="radio" id="radio3" name="jenis_ang" value="Kendaraan Umum">  Kendaraan Umum
                                        </label>
                                        <label for="radio4" class="radio-inline">
                                            <input type="radio" id="radio4" name="jenis_ang" value="Kendaraan Dinas">  Kendaraan Dinas
                                        </label>
                                    </div>
                                </div>                                                                             
                                <div class="form-group row">
                                    <label for="ttd_surat_tugas">Penanda Tangan Surat Tugas</label>
                                    <select id="ttd_surat_tugas" name="ttd_surat_tugas" class="form-control input-lg" size="1">
                                        {{#each setting.ttd_st}}
                                            <option value="{{_id}}" {{#if_eq _id ../setting.ttd_st_default}}selected{{/if_eq}}>{{nama}}</option>
                                        {{/each}}
                                    </select>
                                </div>                          
                                <div class="form-group row">
                                    <label for="ttd_legalitas">Penanda Tangan Legalitas</label>
                                    <select list="ttd_legalitasb"  id="ttd_legalitas" name="ttd_legalitas" class="form-control input-lg" size="1">
                                        {{#each setting.ttd_leg}}
                                            <option value="{{_id}}" {{#if_eq _id ../setting.ttd_leg_default}}selected{{/if_eq}}>{{nama}}</option>
                                        {{/each}}
                                    </select>
                                </div>                                    
                                <div class="form-group row">     
                                    <div class="col-md-6" style="padding-left: 0">    
                                        <label for="tgl_ttd_st">Tanggal Tanda Tangan</label>
                                        <input type="text-input" id="tgl_ttd_st" class="form-control date tgl_ttd" name="tgl_ttd_st" value="" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <button id="generateLetter" type="submit" class="px-2">Buat Surat</button><span><pre> </pre></span>
                                    {{#if admin}}
                                    <div class="input-group-btn">
                                        <button id="download" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Download
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a id="unduh_docx" class="dropdown-item" href="#">Docx</a>
                                            <a id="unduh_pdf" class="dropdown-item" href="#">PDF</a>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>                         
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <iframe id="realTimeView" class="preview-pane" type="application/pdf" width="100%" height="690" frameborder="0" style="position:relative;z-index:999;" src=""></iframe>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>

<div class="modal fade" id="riwayat-surat-tugas" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Riwayat Surat Tugas</span></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0 15px;">
                <div style="padding: 15px; padding-bottom: 0">
                    <div style="height: 510px;position:relative;">
                        <div style="max-height:100%;overflow-y:auto;overflow-x:hidden;">
                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-6">  
                                    <div class="row" style="margin-bottom: 5px">
                                        <div class="col-md-12">
                                            <strong>Berdasarkan waktu :</strong>
                                        </div>
                                    </div>
                                    <form id="riwayat_form" method="post" action="/pok/riwayat_pengeluaran">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="radio">
                                                    <label for="tampil-riwayat-by-range">
                                                        <input type="radio" id="tampil-riwayat-by-range" name="tampil_riwayat" value="0"> Periode <input id="riwayat-lower_ts" type="text"> - <input id="riwayat-upper_ts" type="text">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="radio">
                                                    <label for="tampil-riwayat-by-month">
                                                        <input type="radio" id="tampil-riwayat-by-month" name="tampil_riwayat" value="1" checked="checked"> Bulan 
                                                        <select id="bulan_st_modal" name="bulan_st_modal" size="1">
                                                            <option value="none">--pilih--</option>
                                                            <option value="0">Januari</option>
                                                            <option value="1">Februari</option>
                                                            <option value="2">Maret</option>
                                                            <option value="3">April</option>
                                                            <option value="4">Mei</option>
                                                            <option value="5">Juni</option>
                                                            <option value="6">Juli</option>
                                                            <option value="7">Agustus</option>
                                                            <option value="8">September</option>
                                                            <option value="9">Oktober</option>
                                                            <option value="10">November</option>
                                                            <option value="11">Desember</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tbl_riwayat" class="table" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>No. Surat</th>
                                                <th>Nama</th>
                                                <th>Tujuan</th>
                                                <th>Tgl. Berangkat</th>
                                                <th>Tgl. Kembali</th>
                                                <th>Pilihan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- /.modal -->
<div class="modal fade" id="tambah_pegawai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Tambah Pegawai/Yang Bepergian</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding: 15px">
                    <div class="form-group row">
                        <label for="username">Nama</label>
                        <input type="text" class="form-control" id="tbh_nama" name='tbh_namanama' readonly="readonly">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="radio-inline" for="tbh_jenis_pgw1">
                                <input id="tbh_jenis_pgw1" type="radio" name="tbh_jenis_pgw" value="pegawai" checked="checked">Pegawai STIS
                            </label>
                            <label class="radio-inline" for="tbh_jenis_pgw2" style="margin-left: 10px">
                                <input type="radio" id="tbh_jenis_pgw2" name="tbh_jenis_pgw" value="bps">BPS
                            </label>
                            <label class="radio-inline" for="tbh_jenis_pgw3" style="margin-left: 10px">
                                <input type="radio" id="tbh_jenis_pgw3" name="tbh_jenis_pgw" value="custom_entity">Lainnya
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tbh_id">NIP/Nomor Identitas <span>*</span></label>
                        <input type="text" class="form-control" id="tbh_id" name='tbh_id' required>
                    </div>
                    <div class="form-group row">
                        <label for="tbh_gol">Golongan <span>*</span></label>
                        <select id="tbh_gol" name="tbh_gol" class="form-control input-lg" size="1">
                            <!-- <option value="none">Tidak ada</option> -->
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="Eselon I">Eselon I</option>
                            <option value="Eselon II">Eselon II</option>
                            <option value="Pejabat Negara">Pejabat Negara</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="tbh_jabatan">Jabatan <span>*</span></label>
                        <input type="text" list="jabatan" class="form-control" id="tbh_jabatan" name='tbh_jabatan' required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button id="btn-tambah-pegawai" type="button" class="btn btn-primary">Simpan</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/js/bootstrap-tokenfield.js"></script>

<script src="/js/moment.min.js"></script>
<script src="/js/locale/id.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">
    socket = io.connect($(location).attr('host'));

    $(document).ready(function(){
        moment.locale('id');
        // $('head').append( $('<link rel="stylesheet" type="text/css"/>').attr('href', "/css/bootstrap-tokenfield.css"));

        //function
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        var SPPD = {};
    
        //Inisialisasi pdf viewer
        $("#realTimeView").attr("src", location.protocol+'//'+location.host+'/result/surat_tugas.pdf');

        //Input tgl sekarang utk ttd
        $(".tgl_ttd").val(moment().format('D MMMM YYYY'));

        //Inisialisasi input tgl Brgkt & Kembali
        $('#tgl_berangkat').datetimepicker({
            locale: 'id',
            format: 'D MMMM YYYY'
        });
        $('#tgl_kembali').datetimepicker({
            locale: 'id',
            format: 'D MMMM YYYY',
            useCurrent: false
        });
        $('.tgl_ttd').datetimepicker({
            locale: 'id',
            format: 'D MMMM YYYY',
            useCurrent: false
        });

        $('<input />').attr('type', 'hidden')
              .attr('name', "timestamp")
              .attr('id', "timestamp")
              .attr('value', $('#tgl_berangkat').data('DateTimePicker').date().unix())
              .appendTo('#suratTugas');

        $("#jumlah_hari").val(1);

        //Disable tgl sblm tgl berangkat pd input tgl kembali
        $("#tgl_berangkat").on("dp.change", function (e) {
            $('#tgl_kembali').data("DateTimePicker").minDate(e.date);

            $('#tgl_kembali').val($("#tgl_berangkat").val())

            $('#timestamp').remove()

            $('<input />').attr('type', 'hidden')
              .attr('name', "timestamp")
              .attr('id', "timestamp")
              .attr('value', e.date.unix())
              .appendTo('#suratTugas');
        });

        //Jumlah hari berangkat
        $(".date").on("dp.change", function (e) {
            $("#jumlah_hari").val(moment($('#tgl_kembali').val(), "DD MMMM YYYY").diff(moment($('#tgl_berangkat').val(), "DD MMMM YYYY"), 'days')+1);
        });
        //Autocomplete
        $('#nama_lengkap').tokenfield({
          typeahead: [null, { source: function(q, p){
            {
                socket.emit('penerima_list', {'query': q, 'type': 'sppd'}, function (data) {
                    if($('#nama_lengkap').val()){
                        var regEx = new RegExp(q+"$");
                        if(regEx.test($('#nama_lengkap').val())){
                            return p([]);
                        }
                    }
                    return p(_.map(data, function(peg){ return {_id: peg._id, value: peg.nama}}))
                });
            }
          }}]
        });

        var nama_sppd = [];
        $("#nama_lengkap").on("tokenfield:createdtoken", function(e) {
            if(!e.attrs._id){
                $('#tbh_nama').val(e.attrs.label)
                
                socket.emit('jab_list', 'ok', function(jabs){
                    var datalist = '<datalist id="jabatan">'
                    _.each(jabs, function(jab, index, list){
                        datalist += '<option value="'+jab+'">';
                    });
                    datalist += '</datalist>';
                    $('#tbh_jabatan').after(datalist);
                });

                $('#tambah_pegawai').modal('show');
                return;
            }
            delete e.attrs.label;
            if(_.filter(nama_sppd, function(o){if (o._id == e.attrs._id){return o;} }).length == 0) nama_sppd.push(e.attrs);
        });

        $("#tambah_pegawai").on('shown.bs.modal', function () {
          $('#tbh_id').focus();
          $(document).off('focusin.bs.modal');
        })

        $('#tbh_nama, #tbh_id, #tbh_gol, #tbh_jabatan').keyup(function(e){
            if(e.keyCode == 13)
            {
                $('#btn-tambah-pegawai').click();
            }
        });

        var is_saved = false;
        $("#btn-tambah-pegawai").click(function(){
            var data = {};
            data.nama = $('#tbh_nama').val();
            data._id = $('#tbh_id').val();
            data.gol = $('#tbh_gol').val();
            data.jabatan = $('#tbh_jabatan').val();

            if(data._id == ''){
                generalAlert('NIP/ID wajib diisi.');
                return;
            } else if (data.jabatan == '') {
                generalAlert('Jabatan wajib diisi.');
                return;
            }

            var collection = $('input[name=tbh_jenis_pgw]:checked').val();

            socket.emit('entry_pegawai_baru', {'data': data, 'collection': collection}, 
                function(_id){
                    if(!_id){
                        generalAlert('Gagal menyimpan.');
                        return;
                    }
                    is_saved = true;
                    var current = $('#nama_lengkap').tokenfield('getTokens', false);
                    $('#nama_lengkap').tokenfield('setTokens', _.map(current, function(o){
                            if(o.label == o.value){
                                o._id = _id;
                            }
                            return o; 
                        })
                    );
                    generalAlert('Berhasil ditambahkan.')
                    $('#tambah_pegawai').modal('toggle');
            })
        })

        $("#tambah_pegawai").on("hidden.bs.modal", function () {
            if(!is_saved){
                $('#nama_lengkap').tokenfield('setTokens', _.without(nama_sppd, _.findWhere(nama_sppd, {
                  value: $('#tbh_nama').val()
                })));
            }  
            is_saved = false;          
        });


        $("#nama_lengkap").on("tokenfield:removetoken", function(e) {
            nama_sppd = _.without(nama_sppd, _.findWhere(nama_sppd, {
              _id: e.attrs._id
            }));
        });

        function resetForm(){
            nama_sppd = [];
            $('#nama_lengkap').tokenfield('setTokens', []);
            $('#nama_lengkap').val('');

            $('#pok_output').val('');
            $('#kode_output').val('');
            $('#detail_tugas').val('');
            $('#provinsi').val('');
            $('#kabupaten').val('');
            $('#organisasi').val('');
            // $('#tgl_berangkat').val('');
            // $('#tgl_kembali').val('');
        }

        function checkInput(){
            if($('#nama_lengkap').val()=='' || $('#pok_output').val()=='' || $('#kode_output').val()==''
                || $('#detail_tugas').val()=='' || $('#provinsi').val()=='' ||
                $('#tgl_berangkat').val()=='' || $('#tgl_kembali').val()==''){
                 return false
            } else{
                return true;
            }
        }

        var current_month = new Date().getMonth()+1;
        $('#bulan_st_modal option:eq('+current_month+')').prop('selected', true);
        $('#tbl_riwayat').DataTable({
            aaSorting: [],
            rowReorder: {
                enable: false
            },
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Semua"]],
            createdRow: function( row, data, dataIndex ) {
                $( row ).find('td:eq(0)').attr('class', 'text-center');
                $( row ).find('td:eq(3)').attr('class', 'text-center');
                $( row ).find('td:eq(4)').attr('class', 'text-center');
                $( row ).find('td:eq(5)').attr('class', 'text-center');
            }
        });
        //tgl modal riwayat soal
        $('#riwayat-lower_ts, #riwayat-upper_ts').datetimepicker({
            locale: 'id',
            format: 'D MMMM YYYY',
            useCurrent: false,
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'bottom'
            }
        });

        $('#btn-riwayat-surat-tugas').click(function(){
            var selected = $('#bulan_st_modal').val();
            socket.emit('riwayat_surat_tugas', {month: selected, type: 'surat_tugas'}, 
                function(response){
                    $('#tbl_riwayat').DataTable().clear();
                    _.each(response, function(surat, i, list){
                        if(surat && surat.nama_lengkap){
                            var row = [
                                surat._id,
                                surat.nama_lengkap.nama,
                                surat.tugas,
                                surat.tgl_berangkat,
                                surat.tgl_kembali,
                                '<button type="button" class="edit-surat"><i class="icon-pencil"></i></button>'
                            ]
                            $('#tbl_riwayat').DataTable().row.add( row );
                        }
                    });
                    $('#tbl_riwayat').DataTable().draw(false);
            })
            $('#riwayat-surat-tugas').modal('show');
        });

        $("input[name='tampil_riwayat']").change(function(e){
            var s = $(this).val();
            if(s == '0') {
                if($('#riwayat-lower_ts').val() == '' || $('#riwayat-upper_ts').val() == '') return;
                var lower_ts = $('#riwayat-lower_ts').data('DateTimePicker').date().unix()
                var upper_ts = $('#riwayat-upper_ts').data('DateTimePicker').date().unix() + 86399;
                socket.emit('riwayat_surat_tugas', {'lower_ts': lower_ts, 'upper_ts': upper_ts, type: 'surat_tugas'}, 
                    function(response){
                        $('#tbl_riwayat').DataTable().clear();
                        _.each(response, function(surat, i, list){
                            if(surat && surat.nama_lengkap){
                                var row = [
                                    surat._id,
                                    surat.nama_lengkap.nama,
                                    surat.tugas,
                                    surat.tgl_berangkat,
                                    surat.tgl_kembali,
                                    '<button type="button" class="edit-surat"><i class="icon-pencil"></i></button>'
                                ]
                                $('#tbl_riwayat').DataTable().row.add( row );
                            }                        });
                        $('#tbl_riwayat').DataTable().draw(false);
                })
            } else {
                var selected = $('#bulan_st_modal').val();
                if(selected == 'none') return;
                socket.emit('riwayat_surat_tugas', {month: selected, type: 'surat_tugas'}, 
                    function(response){
                        $('#tbl_riwayat').DataTable().clear();
                        _.each(response, function(surat, i, list){
                            if(surat && surat.nama_lengkap){
                                var row = [
                                    surat._id,
                                    surat.nama_lengkap.nama,
                                    surat.tugas,
                                    surat.tgl_berangkat,
                                    surat.tgl_kembali,
                                    '<button type="button" class="edit-surat"><i class="icon-pencil"></i></button>'
                                ]
                                $('#tbl_riwayat').DataTable().row.add( row );
                            }
                        });
                        $('#tbl_riwayat').DataTable().draw(false);
                })
            }
        });

        $('#bulan_st_modal').change(function(){
            if(!$('#tampil-riwayat-by-month').is(':checked')) return;
            var selected = $(this).val();
            if(selected == 'none') return;
            socket.emit('riwayat_surat_tugas', {month: selected, type: 'surat_tugas'}, 
                function(response){
                    $('#tbl_riwayat').DataTable().clear();
                    _.each(response, function(surat, i, list){
                        if(surat && surat.nama_lengkap){
                            var row = [
                                surat._id,
                                surat.nama_lengkap.nama,
                                surat.tugas,
                                surat.tgl_berangkat,
                                surat.tgl_kembali,
                                '<button type="button" class="edit-surat"><i class="icon-pencil"></i></button>'
                            ]
                            $('#tbl_riwayat').DataTable().row.add( row );
                        }
                    });
                    $('#tbl_riwayat').DataTable().draw(false);
            })
        });

        $('#riwayat-lower_ts, #riwayat-upper_ts').on('dp.change', function(e){
            if($('#tampil-riwayat-by-range').is(':checked')){
                if($('#riwayat-lower_ts').val() == '' || $('#riwayat-upper_ts').val() == '') return;
                var lower_ts = $('#riwayat-lower_ts').data('DateTimePicker').date().unix()
                var upper_ts = $('#riwayat-upper_ts').data('DateTimePicker').date().unix() + 86399;
                socket.emit('riwayat_surat_tugas', {'lower_ts': lower_ts, 'upper_ts': upper_ts, type: 'surat_tugas'}, 
                    function(response){
                        $('#tbl_riwayat').DataTable().clear();
                        _.each(response, function(surat, i, list){
                            if(surat && surat.nama_lengkap){
                                var row = [
                                    surat._id,
                                    surat.nama_lengkap.nama,
                                    surat.tugas,
                                    surat.tgl_berangkat,
                                    surat.tgl_kembali,
                                    '<button type="button" class="edit-surat"><i class="icon-pencil"></i></button>'
                                ]
                                $('#tbl_riwayat').DataTable().row.add( row );
                            }
                        });
                        $('#tbl_riwayat').DataTable().draw(false);
                })
            }
        });

        $('#tbl_riwayat').on('click', '.edit-surat', function(){
            var nomor = $(this).closest('tr').find('td:eq(0)').text();
            socket.emit('get_surat_tugas', {'nomor': nomor, 'type': 'surat_tugas'}, 
                function(response){
                    resetForm();
                    var nomor_temp =  $('#nomor').val();
                    $('#nomor').val(
                        nomor_temp.replace(/^\d*/, response._id)
                    );
                    $("#nama_lengkap").tokenfield('createToken', {_id: response.nama_lengkap._id, value: response.nama_lengkap.nama});
                    $("#pok_output").val(response.output);
                    $("#kode_output").val(response.kode_output);
                    $("#detail_tugas").val(response.tugas);
                    $("#provinsi").val(response.prov.nama);
                    $("#provinsi_id").val(response.prov._id)
                    if(response.kab){
                        $("#kabupaten").val(response.kab.nama)
                        $("#kabupaten_id").val(response.kab._id)
                    };
                    if(response.org){
                        $("#organisasi").val(response.org.nama)
                        $("#organisasi_id").val(response.org._id)
                    };
                    $("#tgl_berangkat").val(response.tgl_berangkat);
                    $("#tgl_kembali").val(response.tgl_kembali);

                    // $("#jumlah_hari").val(moment($('#tgl_kembali').val(), "DD MMMM YYYY").diff(moment($('#tgl_berangkat').val(), "DD MMMM YYYY"), 'days')+1);
                    $("#jumlah_hari").val(response.jumlah_hari);

                    $("input[name='jenis_ang'][value='" + response.jenis_ang + "']").attr('checked', 'checked');
                    $('#ttd_surat_tugas option[value="'+response.ttd_surat_tugas+'"]').prop('selected','selected');
                    $('#ttd_legalitas option[value="'+response.ttd_legalitas+'"]').prop('selected','selected');
                    $("#tgl_ttd_st").val(response.tgl_ttd_st);
            })
            $('#riwayat-surat-tugas').modal('toggle');
        })

        function clearForm(){
            setTimeout(function() {
                resetForm();
                socket.emit('last_nmr_surat', '', 
                    function(last_nmr_surat){
                        var nomor_temp =  $('#nomor').val();
                        $('#nomor').val(
                            nomor_temp.replace(/^\d*/, last_nmr_surat)
                        )
                    })
            }, 2000);
        }

        //Reload pdf viewer
        var download_surat = false;
        $('#suratTugas').on('submit', function(e) {
            if($("#nama_lengkap-tokenfield").val()){
                $("#nama_lengkap").tokenfield('createToken', {value: $("#nama_lengkap-tokenfield").val()});
                $("#nama_lengkap-tokenfield").val('');
                return false;
            }
            if(!$('#ttd_surat_tugas').val() || !$('#ttd_legalitas').val()){
                generalAlert('Setting Penanda Tangan Surat Tugas atau Legalitas belum ditentukan. Silahkan ubah di pengaturan SPPD.')
                e.preventDefault();
                return false;
            }
            if(download_surat){
                download_surat = false;
                clearForm();
                return true;
            } else {
                $('#nama_lengkap_temp').remove();
                $('#docx').remove();
                $('#pdf').remove();
            }
            e.preventDefault();
            $('#generateLetter').prop('disabled', true);
            $("#generateLetter").html('<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>'+$("#generateLetter").text());

            var data = $('#suratTugas').serializeObject();
            data.nama_lengkap = nama_sppd;

            socket.emit('surat_tugas', data, 
                function(response){
                    if(response.last_nmr_surat){
                        resetForm();

                        var nomor_temp =  $('#nomor').val();
                        $('#nomor').val(
                            nomor_temp.replace(/^\d*/, response.last_nmr_surat)
                        )
                        $("#realTimeView").attr("src", location.protocol+'//'+location.host+response.outputPdf)
                        generalAlert('Surat dibuat.');
                    } else {
                        generalAlert('Gagal buat surat. Hubungi Admin.');
                    }
                    $("#generateLetter").html('Buat Surat');
                    $('#generateLetter').prop('disabled', false);
            })
        });

        $('#unduh_docx').click(function(){
            if(!checkInput()){
                 generalAlert('Input ada yang kosong.');
                 return;
            };
            $('#nama_lengkap_temp').remove();
            $('#docx').remove();
            $('#pdf').remove();  

            $('<input />').attr('type', 'hidden')
              .attr('name', "nama_lengkap_temp")
              .attr('id', "nama_lengkap_temp")
              .attr('value', JSON.stringify(nama_sppd))
              .appendTo('#suratTugas');
            
            $('<input />').attr('type', 'hidden')
              .attr('name', "docx")
              .attr('id', "docx")
              .attr('value', true)
              .appendTo('#suratTugas');

            download_surat = true;

            $('#suratTugas').submit();
        })

        $('#unduh_pdf').click(function(){   
            if(!checkInput()){
                 generalAlert('Input ada yang kosong.');
                 return;
            };  
            $('#nama_lengkap_temp').remove();
            $('#docx').remove();
            $('#pdf').remove(); 

            $('<input />').attr('type', 'hidden')
              .attr('name', "nama_lengkap_temp")
              .attr('id', "nama_lengkap_temp")
              .attr('value', JSON.stringify(nama_sppd))
              .appendTo('#suratTugas');
            
            $('<input />').attr('type', 'hidden')
              .attr('name', "pdf")
              .attr('id', "pdf")
              .attr('value', true)
              .appendTo('#suratTugas');

            download_surat = true;

            $('#suratTugas').submit();
        })

        $('#pok_output').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                source: function(q, p){
                        {
                            socket.emit('komponen_list', q, function (data) {
                                return p(_.map(data, function(peg){ return {kdkmpnen: peg.kdoutput+'.'+peg.kdkmpnen, value: peg.urkmpnen}}))
                            });
                        }
                }
            }
        );

        $('#detail_tugas').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                source: function(q, p){
                        {
                            socket.emit('komponen_list_extra', q, function (data) {
                                return p(_.map(data, function(ur){ return {kdkmpnen: (ur.kdkmpnen || ur._id), value: (ur.urkmpnen || ur.nama)}}))
                            });
                        }
                }
            }
        );

        $("#pok_output").on("typeahead:selected typeahead:autocompleted", function(e, datum) {
            $("#kode_output").val(datum.kdkmpnen);
            $("#detail_tugas").val(toTitleCase(datum.value));
            $("#detail_tugas").select();
        });

        $("#detail_tugas").on("typeahead:selected typeahead:autocompleted", function(e, datum) {
            $("#detail_tugas").val(toTitleCase(datum.value));
        });

        $('#kabupaten').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                source: function(q, p){
                        {
                            if(!$("#provinsi").val()) $("#provinsi_id").val('');
                            socket.emit('kab_list', {'q': q, 'prov': $("#provinsi_id").val()}, function (data) {
                                return p(_.map(data, function(kab){ return {_id: kab._id, value: kab.nama}}))
                            });
                        }
                }
            }
        );
        
        $("#kabupaten").on("typeahead:selected typeahead:autocompleted", function(e, datum) {
            $("#kabupaten_id").val(datum._id)
        });

        $('#provinsi').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                source: function(q, p){
                        {
                            socket.emit('prov_list', {'q': q}, function (data) {
                                return p(_.map(data, function(prov){ return {_id: prov._id, value: prov.nama}}))
                            });
                        }
                }
            }
        );

        $("#provinsi").on("typeahead:selected typeahead:autocompleted", function(e, datum) {
            $("#provinsi_id").val(datum._id)
        });

        $('#organisasi').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                source: function(q, p){
                        {
                            socket.emit('org_list', q, function (data) {
                                return p(_.map(data, function(org){ return {_id: org._id, value: org.nama}}))
                            });
                        }
                }
            }
        );

        $("#organisasi").on("typeahead:selected typeahead:autocompleted", function(e, datum) {
            $("#organisasi_id").val(datum._id)
        });

        function generalAlert(message){
            $.toast({
                text: message,
                textAlign: 'left', 
                hideAfter: 4000,
                loader: false,
                position: 'bottom-right'
            })
        }

        function toTitleCase(str)
        {
            return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}).replace(/Stis/g, 'STIS').replace(/Pnbp/g, 'PNBP').replace(/Div/g, 'DIV');
        }
    });
</script>